/* Variables */

$color-primary: #2faaba;
$color-secondary: #275f66;
$color-dark: #322f2c;
$color-light: #eee;
$default-padding: 15px;
$default-margin: 15px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;
$color-primary-font: 'Lato', sans-serif;
$color-primary-header:'Oxygen', sans-serif;
$font-size: 14px;





/* Mixins */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}


@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}




/* Required By WordPress */
.wp-caption {display:block;}
.wp-caption-text {display:block;}
.sticky {display:block;}
.gallery-caption {display:block;}
.bypostauthor {display:block;}
.aligncenter {display:block; margin:0 auto;}



 