/* Modules */

/* Procedures */
#procedures {
	background:$primary-dark-tan;
	border:0;
	padding-top:$default-padding;
	padding-bottom:$default-padding;
	color:#fff;
}

#procedures .recent-post-title {
	text-align:center;
	font-family:$primary-header;
	font-weight:200;
	
}

#procedures .recent-post-title a {
	color:#fff;
	
}